<?xml version="1.0" encoding="UTF-8"?>
<document>

<config>
	<param name="activationUrl" value="*"/>
	<param name="baseUrl" value="/funn/"/>
	<param name="itemsPerPage" value="10"/>
	<param name="pageUrlParam" value="p"/>
	<param name="searchUrlParam" value="s"/>
	<param name="categoryUrlParam" value="category"/>
	<param name="authorUrlParam" value="author"/>
	<param name="previewItemsCount" value="10"/>
	<param name="relatedItemsCount" value="6"/>
	<param name="newestItemsCount" value="14"/>
	<param name="adminMenu" value="1"/>
	<param name="adminMenuOrder" value="28"/>
	
	<param name="accessAPIAdd" value="everyone"/>
	<param name="accessAPISendCRM" value="everyone"/>

	<constant name="TABLE_FUNNEL_LEADS" value="funnel_leads"/>
	<constant name="TABLE_FUNNEL_FORMS" value="funnel_forms"/>
	<constant name="TABLE_FUNNELS" value="funnels"/>
	
	<filter url="*" action="FunnLoadPreview"/>
	<filter url="/funn/" action="FunnLoadArticles"/>
	<filter url="/funn/*" action="FunnLoadArticleDetails" setpage="/funn/"/>
	
	<api name="funnels" action="api_request_funnels"/>
	
	
	<table name="funnels" index="id" title="title">
		<field name="id" type="id" readonly="1"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="updated"/>
		<field name="lang" type="lang" listskip="1"/>
		<field name="title" type="str"/>
		<field name="url" type="str"/>
		<field name="pipeline_id" type="str"/>
	</table>
	<table name="funnel_forms" index="id" title="title">
		<field name="id" type="id" readonly="1"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="updated"/>
		<field name="lang" type="lang" listskip="1"/>
		<field name="title" type="str"/>
		<field name="pipeline_status_id" type="str"/>
		<field name="crm_lead_method" type="bool"/>
		<field name="price" type="str"/>
		<field name="сurrency" type="str"/>
		<field name="response_page_link" type="str"/>
		
	</table>
	<table name="funnel_leads" index="id" title="funnel_forms_title">
		<field name="id" type="id" readonly="1"/>
		<field name="published" type="published"/>
		<field name="deleted" type="deleted"/>
		<field name="author" type="author"/>
		<field name="updated" type="updated"/>
		<field name="date" type="date"/>
		<field name="lang" type="lang" listskip="1"/>
		

		<field name="funnels_id" type="int" select-from="table:funnels"/>
		<field name="funnels_title" type="str" listskip="1"/>

		<field name="funnel_forms_id" type="int" select-from="table:funnel_forms"/>
		<field name="funnel_forms_title" type="str" listskip="1"/>

		<field name="utm" type="str" listskip="1"/>

		<field name="utm_source" type="str"/>
		<field name="utm_campaign" type="str"/>
		<field name="utm_medium" type="str"/>
		<field name="utm_content" type="str"/>
		<field name="utm_term" type="str"/>
		
		<field name="member_email" type="str"/>
		<field name="member_phone" type="str"/>
		<field name="member_name" type="str"/>
		<field name="member_user" type="str" select-from="table:users"/>
		<field name="member_user_id" type="int" listskip="1"/>

		<field name="crm_member_id" type="str"/>
		<field name="crm_lead_id" type="str"/>

		<field name="status" type="bool"/>
		<field name="status_info" type="text"/>

		
		
		
	</table>
</config>

</document>
